<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
       <img width="200px" height="120px" src="img/logo-mercado-liebre.svg"> </img> 
    </header>   
       <input placeholder ="Buscar productos, marcas"> </input>
       <br>
       <button></button>
       <br>
       <h3 aline = center>Compra en cuotas y sin tarjetas de credito</h3>
       <main>
           <ul type="circle">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <br>
                <li>Crea tu cuenta</li>
                <li>Ingreso</li>
                <li>Mis compras</li>
           </ul>
       </main>    

</body>
</html>