<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> 
    <title>Mercado Liebre</title>
    
</head>
<body>
    <header style="background-color:#EAC926">
       <img width="200px" height="120px" src="img/logo-mercado-liebre.svg"> </img>        
       <input placeholder ="Buscar productos, marcas"> </input>
       <button></button>
       <br>
       <h3>Compra en cuotas y sin tarjetas de credito</h3>
           <ul type="circle">
                <li><a href= "ofertas.html">Ofertas</a></li>
                <li><a href= "tiendas-oficiales.html">Tiendas oficiales</a></li>
                <li><a href= "vender.html">Vender</a></li>
                <li><a href= "ayuda.html">Ayuda</a></li>
                <br>
                <li><a href= "crea-tu-cuenta.html">Crea tu cuenta</a></li>
                <li><a href= "ingreso.html">Ingreso</a></li>
                <li><a href= "mis-compras.html">Mis compras</a></li>
           </ul>
    </header>  
       <img width="1340px" src="img/img-home-banner.jpg"></img>
    <main>    
        <div id="visitas">
            <h3 class="titulares">Basado en tu última visita</h3>

            <img src="img/img-cafetera-moulinex.jpg"></img>        
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion">Cafetera Moulinex.</p>
        <br>
            <img src="img/img-macbook-pro-2019.jpg"></img>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p font-size= 16px>MacBook Pro 2019.</p>
        <br>
            <img src="img/img-samsung-galaxy-s10.jpg"></img>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10.</p>
        <br>
            <img src="img/img-tv-samsung-smart.jpg"></img>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTv Samsung 43".</p>
        </div>
        <br>
        <div id="descuentos">
            <h3 class="titulares">Sección de Ofertas</h3>

            <img src="img/img-cafetera-moulinex.jpg"></img>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion">Cafetera Moulinex.</p>
        <br>
            <img src="img/img-macbook-pro-2019.jpg"></img>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p font-size= 16px>MacBook Pro 2019.</p>
        <br>
            <img src="img/img-samsung-galaxy-s10.jpg"></img>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10.</p>
        <br>
            <img src="img/img-tv-samsung-smart.jpg"></img>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTv Samsung 43".</p>
        </div>
    <footer>
            <p class="iconos"><i class="fas fa-credit-card"></i></p>
            <P style="color: #666"><strong>Pagá con tarjeta o en efectivo</strong></P>
            <p style="color: #666">Mercado Liebre Cash tenés cuotas sin interés con tarjeta de ó efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <br>
            <p class="iconos"><i class="fas fa-gift"></i></p>
            <P style="color: #666"><strong>Envío gratis desde los $2500</strong></P>
            <p style="color: #666">Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <br>
            <p class="iconos"><i class="fas fa-user-shield"></i></p>
            <p style="color: #666"><strong>Seguridad de principio a fin</strong></p>
            <p style="color: #666">¿No te gusta?¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
            <br>
            <p style="color: #666">Copyrigth © 1999-2020 Mercado Liebre S.R.L.</p>

            
    </footer>
    </main>

    
       



</body>
</html>
